<h1>Inquiries#new</h1>
<p>Find me in app/views/inquiries/new.html.erb</p>
<%= radio_button 'page', 'category', 'ruby_base', {} %>
<%= check_box 'page', 'freezeflag', {:checked => true}, true, false %>
